.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100vh;
}

.logo {
  width: 130px;
  display: flex;
  margin-left: 10px;
}

.sidebar h4 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

.sidebar .nav-link {
  color: #ced4da;
  padding: 10px;
  font-weight: 500;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #495057;
  color: #fff;
  border-radius: 4px;
}

.content {
  flex-grow: 1;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #343a40;
}

.table {
  margin-top: 20px;
}

button {
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.scroll-arrow {
  position: fixed;
  bottom: 50px; /* Distância do final da página */
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #007bff;
  cursor: pointer;
  animation: bounce 1.5s infinite; /* Animação de "pulo" */
  z-index: 1000;
}

/* Animação de "pulo" da seta */
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.footer {
  background-color: #1c1e22;
  color: #f8f9fa;
  text-align: center;
  padding: 40px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #3498db;
  
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3498db;
  text-transform: uppercase;
}

.footer-nav {
  margin-bottom: 10px;
}

.footer-nav a {
  color: #f8f9fa;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s, transform 0.3s;
}

.footer-nav a:hover {
  color: #3498db;
  transform: scale(1.1);
}

.portfolio-icon {
  margin-right: 5px;
  vertical-align: middle;
}

.portfolio-text {
  font-weight: bold;
}

.footer-social {
  margin: 10px 0;
}

.footer-social a {
  color: #f8f9fa;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #3498db;
}

.footer-copy {
  font-size: 0.9em;
  margin: 0;
  color: #adb5bd;
}

.footer-note {
  font-size: 1em;
  color: #00aeff;
  margin-top: 10px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: rgba(52, 152, 219, 0.1);
  transition: transform 0.3s;
}

.footer-note:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }

  .content {
    padding: 10px 20px;
  }

  .page-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .sidebar h4 {
    font-size: 1.2rem;
  }

  .sidebar .nav-link {
    padding: 8px;
  }

  .footer-content {
    padding: 20px 10px;
  }

  .footer-logo {
    font-size: 1.5em;
  }

  .footer-note {
    font-size: 0.9em;
    padding: 8px;
  }
}